<div class="container">
  <h2 class="chi-blue">Signup Page</h2>
  <h4>Or <a href="/auth/login">Log-in</a> if you already have an account</h4>
  <form action="/auth/signup" method="POST">
    <div class="form-group">
      <label for="authName">Name</label>
      <input id="authName" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <p>Don't want to signup? </p>
    <p><a href="/auth/login">Login</a> with: User@email.com, Test1234 </p>
    <input class="btn btn-primary" type="submit">
  </form>

  <hr>
  <a href="/auth/facebook" class="btn btn-primary">
    Signup via Facebook
  </a>
</div>
