<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigations</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="flag" src="/images/il-flag.gif"</a>
      <a class="navbar-brand" href="/crime/show">Chicago Homicides Map</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">About this Site</a></li>
        <li><a href="/profile">Profile</a></li>

        <li><a href="/auth/logout">Logout</a></li>


      </ul>
    </div>
  </div>
</nav>
