<div class="center-container">
  <div class="homepage-image-container">
    <a href="/crime/show">
      <img class="homepage-image" src="/images/404.png">
    </a>
    <h3 class="homepage-image-text">See the 2016 Map</h3>
  </div>
  <div class="homepage-image-container">
    <a href="#">
      <img class="homepage-image" src="/images/police-tape.jpg">
    </a>
    <h3 class="homepage-image-text">See the 2017 Map <span class="chi-red">**soon**</span></h3>
  </div>
</div>
