<div class="center-container">
  <h2 class="chi-red">Please Login to View Map</h2>

  <h3>
    <a href="/auth/signup" class="btn btn-primary">Signup</a>
    <a href="/auth/login" class="btn btn-primary">Login</a>
  </h3>
  <img id="policeTape" src="/images/police-tape.png">
</div>
