body{
  background-color: #e6e6e6;
}

#map {
  height: 450px;
}
.center-container {
  text-align: center;
}
.homepage-image-container {
  display: inline-block;
  margin: 15px;
  border-color: black;
  box-shadow: 0 0 1rem black;
}
.homepage-image {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}
.homepage-image-text {
  margin: 12px 0 20px 0; 
}

.homepage-image-container:hover{
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px red;
}
/*.navbar-default {
  background-color: #808080;
}*/

#flag {
  height: 44px;
  width: 63px;
  margin-top: -13px;
  border: 1px solid darkgrey;
  padding: 1px;
}

.alert-success {
  background-color: rgba(0, 153, 255, 0.8);
  color: rgba(205, 0, 1, 1);
}

.alert-danger {
  background-color: rgba(205, 0, 1, 0.3);
  color: rgba(0, 153, 255, 1);
}

#goCenterUI {
  background-color: rgba(205, 0, 1, 1);
  border: 2px solid rgba(0, 153, 255, 1);
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}

#goCenterText {
  color: rgb(255,255,255);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

#footer {
  color: #000;
}

.indent {
  text-indent: 50px;
}

.small-icon {
  width: 20px;
  height: 20px;
}



#policeTape {
  width: 50%;
  height: 300px;
  text-align: center
}

.chi-blue {
  color: rgba(0, 153, 255, 1);
}

.chi-red {
  color: rgba(205, 0, 1, 0.8);
}

.form-control {
  width: 60%
}

.btn-primary {
  background-color: rgba(0, 153, 255, 1);
}

#savedAddress {
  height: 500px;
  overflow: scroll;
}

.foot-space {
  padding-bottom: 50px;
}
