#map {
  height: 500px;
}

#flag {
  height: 44px;
  width: 63px;
  margin-top: -13px;
  border: 1px solid darkgrey;
  padding: 1px;
}

.alert-success {
  background-color: rgba(0, 153, 255, 0.8);
  color: rgba(205, 0, 1, 1);
}

.alert-danger {
  background-color: rgba(205, 0, 1, 0.3);
  color: rgba(0, 153, 255, 1);
}

#goCenterUI {
  background-color: rgba(205, 0, 1, 1);
  border: 2px solid rgba(0, 153, 255, 1);
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}

#goCenterText {
  color: rgb(255,255,255);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

#footer {
  color: #fff;
}

.indent {
  text-indent: 50px;
}

.edit-form {
  width: 30%;
}

.small-icon {
  width: 20px;
  height: 20px;
}
