<div class="container">
  <h3 class="splash">This page does not exist</h3>
  <a href="/crime/show"><h4>Back to the map</h4></a>
  <img class="error404" src="/images/404.png">
  <img id="policeTape" src="/images/police-tape.png">
</div>
