<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div id="map"></div>
    </div>
  </div>
</div>

<script>
  var markers = <%- JSON.stringify(homicides) %>
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo4_czTJLG6hnJWm_Jy6aQKbqPjSqSUVU&libraries=places&callback=initMap" async defer>
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
