<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div id="map"></div>
    </div>
    <div class="col-md-6">
      <h2>Previous Address</h2>
      <% addresses.forEach(function(address) { %>
        <div class="well">
          <p>
            <%= address.name %>:
            <%= address.address %>
          </p>
        </div>
      <% }); %>
    </div>
  </div>
  <div>
    <h3>Zoom in using map controls, or enter address below:</h3>
    <form action="/crime/address" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name (example: Home, Work)">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="address"
          id="address" placeholder="Chicago Street Address (omit the city & state)">
      </div>
      <input id="submit" type="submit" class="btn btn-primary">
    </form>
  </div>
  <div style="height: 200px">
  </div>
</div>

<script>
  var markers = <%- JSON.stringify(homicides) %>

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg21gS6eQ5vqiVyFeT4tPgWBSN2lcrR-E&callback=initMap">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
